@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.app {
  width: 100%; /* Ensures the component is the full screen width */
  height: 100vh; /* We're using this for demo purposes */
  overflow: hidden;
}

.ice-wrapper {
  width: 100%;
  height: 100%;

}

.left {
  background-color: #f2f6f5;
  width: 35%; /* Each panel takes up half the container */
  height: 100vh; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
}

.right {
  background-color: #f2f6f5;
  width: 65%; /* Each panel takes up half the container */
  height: 100vh; /* Used for demo purposes */
  float: right; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
}

.right-active {
  margin-right: -50% !important;
  transition: all 3000s ease-out;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 5s;
}

.left-active {
  margin-left: -50% !important;
  transition: all 6000s ease-out;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 10s;
}

.ice-prize {
  background: #333;
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;
}
